body {
    border-box: 1rem;
    width: 100%; 
    background-color: rgba(0,0,0,0.9);
    font-family: Courier, Monaco, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
}

.nav {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.nav a {
    text-decoration: none;
    list-style-type: none;
    color: #007791;
    margin: 10px;
}

.intro {
    display:flex;
    max-width: 500px;
    color: whitesmoke;
    line-height: 2em;
}

table {
    margin: 0 auto; 
    border-collapse: collapse; 
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 50px; 
    text-align: left; 
    background-color: #007791; 
    color:whitesmoke; 
    text-transform: uppercase; 
    font-family: Helvetica; 
    padding: 15px; 
}

td {
    padding: 15px; 
    text-align: left;
    background-color: whitesmoke;
}


li {
    color: white; 
    list-style-type: none;
    line-height: 2em;
}

h1, h2 {
    color: #007791;
    font-family: Helvetica;
    text-align: center;
}

.code-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: whitesmoke;
    margin: 0 auto;
    max-width: 500px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    margin: 5rem auto;
}

.list-title {
    color: #007791;
}

pre {
    display: flex;
    align-self: center;
}

ul {
    max-width: 80%;
}

footer {
    color: whitesmoke;
}